<div class="p-3">

    <div class="card">
        <div class="card-body">
            <div>
                <input type="text" [(ngModel)]="keyword"> <!-- ay kelma sera stocké fil keyword-->
               
                <button (click)="search()" 
                
                class="btn btn-outline-success" >
                    Search
                </button>
            </div>


            <table class="table">
                 <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th colspan="2">Action</th>
                    </tr>
                 </thead>
                 <tbody *ngIf="products">
                    <tr *ngFor="let p of products">
                        <td>
                            {{p.id}}
                        </td>  
                        <td>
                            {{p.name}}
                        </td> 
                         <td>
                            {{p.price}}
                        </td>
                        <td>
                            <button class="btn btn-danger" (click)="deleteProduct(p)">Delete</button>
                        </td>
                        <td>
                            <button class="btn btn-success" >Edit</button>
                        </td>

                    </tr>
                 </tbody>

            </table>
        </div>
    </div>
    </div>
